body {
  font-family: Pretendard;
  background-color: #deceea;
}

section {
  display: grid;
  grid-template-columns: (repeat(4, 1fr));
  grid-template-rows: 2fr 1fr;
  height: 80vh;
}

.nav {
  padding: 24px 48px;
}

.title {
  display: flex;
  grid-column: span 4;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.card {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 12px 24px;
  margin-right: 16px;
  &:nth-child(2) {
    margin-left: 16px;
  }
}


