@import "node_modules/scss-reset/_reset.scss";

body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
}

.phone {
  width: 496px;
  height: 86vh;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
}

.header {
  overflow-x: scroll;
  .header__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: max-content;
    margin-bottom: 24px;

    .header__list-item {
      color: white;
      padding: 8px;
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.2);

      &:first-child {
        font-weight: bold;
        color: black;
        background-color: white;
      }

      &:hover {
        color: black;
        background-color: white;
        font-weight: bold;
        transition-duration: 300ms;
        cursor: pointer;
      }
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  .cards__card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    gap: 48px;
    flex-direction: column;
    h2 {
      font-weight: bold;
      font-size: 32px;
    }
    .card__footer {
      display: flex;
      justify-content: space-between;
      %capsule {
        background-color: white;
        padding: 8px 12px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .price {
        @extend %capsule;
        color: black;
      }
      .duration {
        @extend %capsule;
        color: black;

      }
    }
    &:nth-child(1) {
      border: 1px solid white;
      background-color: #292D32;
      color: white;
      .price {
        font-weight: bold;
      }
    }
    &:nth-child(2) {
      background-color: #F5F2EE;
      .price {
        background-color: #FEDD2A;
      }
    }
    &:nth-child(3) {
      background-color: #F7FCAF;
      .price {
        background-color: #E9AEFC;
      }
    }
    &:nth-child(4) {
      background-color: #AD99F5;
      .price {
        background-color: #FEDD2A;
      }
    }
    &:nth-child(5) {
      background-color: #FED3D3;
      .price {
        background-color: #E9AEFC;
      }

    }
    &:nth-child(6) {
      background-color: #CEFEDB;

    }
    &:nth-child(3n) {
      grid-column: span 2;
      .price {
        font-weight: bold;
      }
    }
  }
}
