@import "/node_modules/scss-reset/reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

$borderWidth : 1px;
$borderColor : black;

body {
  display: grid;
  height: 100vh;
  font-family: "Pretendard";
  grid-template-rows: 1fr 1fr 18fr;
}

.nav__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
  border-top: $borderWidth solid $borderColor;
  border-left: $borderWidth solid $borderColor;
  border-bottom: $borderWidth solid $borderColor;

  .nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: $borderWidth solid $borderColor;
    padding: 16px 0;
    &:hover {
      background-color: black;
      color: white;
      transition: all 450ms;
      fill: white;
    }
  }
  .nav__title {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.breadcrumbs {
  display: flex;
  padding: 16px;
  border-left: $borderWidth solid $borderColor;
  border-right: $borderWidth solid $borderColor;
  border-bottom: $borderWidth solid $borderColor;
}

.item__info {
  display: grid;
  grid-template-columns: 1fr 1.3fr;

  .item__info--image {
    background-image: url("https://picsum.photos/1920/1080");
    background-size: cover;
    border-left: $borderWidth solid $borderColor;
    border-right: $borderWidth solid $borderColor;
    border-bottom: $borderWidth solid $borderColor;
  }

  .item__info--description {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 1.3fr 1fr;

    .item__info--description-purchase {
      //grid & border
      grid-column: span 2;
      text-transform: uppercase;
      border-right: $borderWidth solid $borderColor;
      border-bottom: $borderWidth solid $borderColor;
      //display & padding
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 72px;
      //child
      .item__info--description-type {
        font-size: 1.2rem;
        font-weight: 700;
        padding-bottom: 12px;
      }
      .item__info--description-title {
        font-size: 3rem;
        font-weight: 700;
      }
      .item__info--description-addtocart {
        display: flex;
        align-items: center;
        padding-top: 32px;
        gap: 48px;
        .item__info--description-qty {
          display: flex;
          align-items: center;
          font-size: 2rem;
          font-weight: 700;
          gap: 8px;
            #itemMinusQty {
              opacity: 0.3;
            }
          }
        .item__info--description-price {
          font-size: 2rem;
          font-weight: 700;
        }
        .item__info--description-atcbtn {
          font-size: 2rem;
          font-weight: 700;
          text-transform: none;
          padding: 32px;
          border: $borderWidth*2 solid $borderColor;
          &:hover {
            background-color: #F08A74;
            color: white;
            transition: all 250ms;
          }
        }
      }
    }
    .item__info--description-detail {
      border-right: $borderWidth solid $borderColor;
      border-bottom: $borderWidth solid $borderColor;
      padding: 48px 64px;
    }
    .item__info--description-faq {
      display: flex;
      flex-direction: column;
      border-right: $borderWidth solid $borderColor;
      border-bottom: $borderWidth solid $borderColor;
      padding: 48px 64px;
      .item__info--description-faqitem {
        display: flex;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        border-bottom: $borderWidth*2 solid $borderColor;
        padding: 8px;
        margin-bottom: 4px;
        justify-content: space-between;
      }
    }
  }

}