@import "/node_modules/scss-reset/reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

$bgColor: #deceea;

body {
  display: grid;
  grid-template-rows: max-content 1fr 1fr;
  font-family: Pretendard;
  background-color: $bgColor;
  overflow-y: scroll;
}

section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.nav {
  display: flex;
  background-color: $bgColor;
  align-items: center;
  gap: 16px;
  padding: 36px 48px;
  //border
  border: 2px solid black;
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Pretendard;
  font-size: 4rem;
  padding: 72px;
  gap: 0.6rem;
  //border
  border-left: 2px solid black;
  border-right: 2px solid black;

  p:last-child {
    margin-top: 0.4rem;
    font-size: 2rem;
  }

}

.cards {
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
  padding: 32px;

  h2 {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }

  strong {
    font-weight: 600;
  }

  &:first-child {
    &:hover {
      background-color: black;
      color: white;
      transition: 300ms;
      #arrow {
        fill: white;
      }
    }
  }
  &:nth-child(2) {
    &:hover {
      background-color: black;
      color: white;
      transition: 300ms;
      #arrow {
        fill: white;
      }
    }
  }
  &:nth-child(3) {
    &:hover {
      background-color: black;
      color: white;
      transition: 300ms;
      #arrow {
        fill: white;
      }
    }
  }
  &:last-child {
    //display
    display: flex;
    //style
    background-color: black;
    color: white;
    .card__items {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }
    a {
      color: rgba(200, 200, 200, 0.9);
      &:hover {
        color: rgba(200, 200, 200, 0.6);
        transition: 300ms;
      }
    }
    .card__items--links {
      display: flex;
      .card__items--linkicon {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        a svg {
          fill: currentColor;
          color: white;
          &:hover {
            color: rgba(200, 200, 200, 0.6);
            transition: 300ms;
          }
        }
      }
    }
  }
}

@media screen and (width < 426px) {
  .nav {
    border: none;
    border-bottom: 2px solid black;
    h3 {
      display: none;
    }
    svg {
      height: 24px;
    }

  }
  .cards {
    grid-template-rows: repeat(4, 0.4fr);
    border: none;
    .card {
      border: none;
      border-bottom: 2px solid black;
    }
  }
  .title {
    font-size: 2rem;
    padding: 36px;
    border: none;
    border-bottom: 2px solid black;
    p:nth-child(2) {
      font-size: 1.4rem;
    }
    p:last-child {
      margin-top: 0.4rem;
      font-size: 1rem;
    }
  }
  #footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}